<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Faqua</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand"><i class="bx bxs-smile icon"></i>Faqua</a>
      <ul class="side-menu">
        <li>
          <a href="#" class="active"
            ><i class="bx bxs-dashboard icon"></i> Dashboard</a
          >
        </li>
        <li class="divider" data-text="main">Main</li>
        <li>
          <a id="charts_link"><i class="bx bxs-chart icon"></i> Charts</a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu toggle-sidebar"></i>
        <form action="#">
          <div class="form-group">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search icon"></i>
          </div>
        </form>
        <a href="#" class="nav-link">
          <i class="bx bxs-bell icon"></i>
        </a>
        <span class="divider"></span>
        <div class="profile">
          <img
            src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <ul class="profile-link">
            <li>
              <a href="#"><i class="bx bxs-user-circle icon"></i> Profile</a>
            </li>
            <li>
              <a href="#"><i class="bx bxs-cog"></i> Settings</a>
            </li>
            <li>
              <a href="#"><i class="bx bxs-log-out-circle"></i> Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <h1 class="title">Dashboard</h1>
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li class="divider">/</li>
          <li><a href="#" class="active">Dashboard</a></li>
        </ul>
        <div class="info-data">
          <div class="card">
            <div class="head">
              <div>
                <h2 id="live-temp">--&deg;C</h2>
                <p>Temperature</p>
              </div>
              <span class="optimumLabel" id="temp-1">Optimum</span>
            </div>
          </div>
          <div class="card">
            <div class="head">
              <div>
                <h2 id="live-turb">--</h2>
                <p>Turbidity</p>
              </div>
              <span class="optimumLabel" id="turb-1">Optimum</span>
            </div>
          </div>
          <div class="card">
            <div class="head">
              <div>
                <h2 id="live-lvl">--</h2>
                <p>Water Level</p>
              </div>
              <span class="optimumLabel" id="water-lvl-1">Optimum</span>
            </div>
          </div>
        </div>
        <div class="data">
          <div class="content-data">
            <div class="head">
              <h3>Data graphs</h3>
            </div>
            <div class="chart">
              <canvas id="tempChart"></canvas>
            </div>
          </div>
          <div class="content-data">
            <div class="head">
              <h3>Data graphs</h3>
            </div>
            <div class="chart">
              <canvas id="turbChart"></canvas>
            </div>
          </div>
        </div>
        <div class="info-data">
          <div class="card">
            <button class="btn btn-lg btn-outline-primary" id="pumpIn">
              Activate intlet pump
            </button>
          </div>
          <div class="card">
            <button class="btn btn-lg btn-outline-primary" id="pumpOut">
              Activate outlet pump
            </button>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- NAVBAR -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/script.js"></script>
  </body>
</html>
