<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Fishpond</title>
  </head>

  <body>
    <header class="container-xl py-2 header-section">
      <div class="row">
        <div class="col-12 d-flex justify-content-between mt-4">
          <div class="header-title-container mt-2">
            <h1 class="header-title">Aqua</h1>
          </div>
          <div class="header-profile">
            <i class="uil uil-user fs-3"></i>
          </div>
        </div>
      </div>
    </header>
    <div class="container-xl py-3 body-1-section">
      <div class="row">
        <div class="col-md-6 mx-auto body-p1 mb-2 mt-2">
          <h4 class="body-intro-text-1">Hello</h4>
          <h4 class="body-intro-text-2">Angela,</h4>
          <h4 class="body-intro-text-3">Good morning</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto mb-2 body-p2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor,
            nostrum vitae cum asperiores deleniti provident sed eveniet magnam.
          </p>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 mx-auto d-flex">
          <div class=" mb-sm-2 w-auto m-0 p-0">
            <button
              id="pumpIn"
              class="btn btn-lg btn-outline-primary pump-btn inlet-button "
            >
              Activate inlet pump
            </button>
          </div>

          <div class=" mb-sm-2 w-auto m-0 p-0">
            <button
              id="pumpOut"
              class="btn btn-lg btn-outline-primary pump-btn outlet-button "
            >
              Activate outlet pump
            </button>
          </div>
        </div>
       
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto mb-3 body-p3">
          <button
            id="report"
            class="btn btn-lg btn-outline-secondary pump-btn mb-2 w-100"
          >
            Historical data
          </button>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-5 body-p4 mx-auto mt-4 mb-3 d-flex justify-content-center"
        >
          <h3>Fishpond Metrics</h3>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-8 body-p5 mx-auto d-flex flex-row justify-content-between"
        >
          <div class="temp">
            <h5 class="text-secondary mx-md-4">&nbsp;&nbsp;Temp</h5>
            <h3 class="mx-4" id="live-temp">--&deg;C</h3>
          </div>
          <div class="turbidity">
            <h5 class="text-secondary">Turbidity</h5>
            <h3 class="mx-4" id="live-turb">--</h3>
          </div>
          <div class="water-lvl justify-content-center align-items-center">
            <h5 class="text-secondary">Water level</h5>
            <h3 class="mx-4" id="live-lvl">--</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xl py-3 body-2-section">
      <div class="row mx-md-3 gap-1 mt-2">
        <div class="col-md-5 mx-sm-auto graphs">
          <canvas id="temperatureChart"></canvas>
        </div>
        <div class="col-md-5 mx-auto">
          <canvas id="turbidityChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <table class="table mt-2" style="table-layout: fixed">
            <thead>
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Temp</th>
                <th scope="col">Turbidity</th>
                <th scope="col">water level</th>
              </tr>
            </thead>
            <tbody id="t-body">
              <tr>
                <td><%=time %></td>
                <td><%=temperature %>&deg;C</td>
                <td><%=turbidity %></td>
                <td><%=waterLevel %></td>
              </tr>
              <tr>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr>
              <tr>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr>
              <tr>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="container-xl py-2 footer-section">
      <div class="row">
        <div class="col-12 align-items-center d-flex justify-content-center">
          <p class="fs-5 text-dark mb-0 text-primary">&copy;Angela</p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
